<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Histórico de Concretagens Pecas Semanais</h6>
    </div>
    <div class="card-body">
        <div class="chart-area">
            <canvas id="historicoConcretagemSemanalPecasChart"></canvas>
        </div>
       
    </div>
</div>
{% block scripts %}
<script>
    $(document).ready(function() {
        loadHistoricoConcretagemSemanalPecasChart();
    });
    function loadHistoricoConcretagemSemanalPecasChart() {

        dados = {{ cards.historico_concretagem_semanal.dados|tojson }}
        console.log(dados);
        if (dados.concretagens_semanais) {
            const ctxHistoricoConcretagemSemanalPecasChart = document.getElementById("historicoConcretagemSemanalPecasChart");
            if (ctxHistoricoConcretagemSemanalPecasChart) {
                const concretagensData = dados.concretagens_semanais;
                
                new Chart(ctxHistoricoConcretagemSemanalPecasChart, {
                    type: 'line',
                    data: {
                        labels: concretagensData.map(item => item.semana),
                        datasets: [{
                            label: 'Concretagens Semanais',
                            lineTension: 0.3,
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: "rgba(78, 115, 223, 1)",
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointBorderColor: "rgba(78, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                            pointHitRadius: 10,
                            data: concretagensData.map(item => item.quantidade),
                        }],
                    },
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        }
    }
</script>
{% endblock %}
    