{% extends 'common/base.html' %}

{% block title %}{{ 'Novo Reembolso' if modo == 'novo' else 'Editar Reembolso' }}{% endblock %}

{% block content %}
<script>
window.centrosCusto = {{ centros_custo|tojson }};
window.modo = '{{ modo }}';
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ 'Novo Reembolso' if modo == 'novo' else 'Editar Reembolso' }}</h3>
                </div>
                <div class="card-body">
                    <form id="formReembolso" method="POST" enctype="multipart/form-data" action="{{ url_for('reembolso.novo') if modo == 'novo' else url_for('reembolso.editar', reembolso_id=reembolso.id) }}">
                        {{ form.csrf_token }}
                        <input type="hidden" name="notas_selecionadas" id="notas_selecionadas" value='{{ notas_json if notas_json is defined else "[]" }}'>
                        <input type="hidden" name="avulsos_data" id="avulsos_data" value='{{ avulsos_json if avulsos_json is defined else "[]" }}'>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <!-- Centro de custo geral removido, pois agora é individual por nota/documento -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numero_relatorio">Número do Relatório</label>
                                    <input type="text" class="form-control" name="numero_relatorio" id="numero_relatorio" value="{{ reembolso.numero_relatorio if modo == 'editar' else '' }}">
                                </div>
                            </div>
                        </div>
                        {% include 'reembolsos/_form_fields.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Avulso -->
{% include 'reembolsos/modais/avulso.html' %}
<!-- Modal PDF Nota -->
<div class="modal fade" id="modalPdfNota" tabindex="-1" aria-labelledby="modalPdfNotaLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPdfNotaLabel">Nota Fiscal (DANFE)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body" style="height:80vh;">
        <iframe id="iframePdfNota" src="" style="width:100%;height:100%;border:none;"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Modal de Documentos -->
<div class="modal fade" id="modalDocumentos" tabindex="-1" aria-labelledby="modalDocumentosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDocumentosLabel">Documentos da Nota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="notaIdDocumentos">
                <div class="mb-3">
                    <label for="anexos" class="form-label">Adicionar Documentos</label>
                    <input type="file" class="form-control" id="anexos" multiple accept=".pdf,.jpg,.jpeg,.png">
                    <div class="form-text">Formatos aceitos: PDF, JPG, PNG</div>
                </div>
                <div class="list-group" id="listaDocumentos">
                    <!-- Lista de documentos será preenchida via JavaScript -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarDocumentos()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Visualização de Documento -->
<div class="modal fade" id="modalVisualizarDocumento" tabindex="-1" aria-labelledby="modalVisualizarDocumentoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVisualizarDocumentoLabel">Visualizar Documento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body" style="height:80vh;">
                <iframe id="iframeDocumento" src="" style="width:100%;height:100%;border:none;"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{# Inclua aqui todo o JS igual ao novo.html, inclusive funções utilitárias e inicialização #}
{% include 'reembolsos/scripts.html' %}
{% endblock %} 