{% extends 'common/base.html' %}

{% block title %}Meu Dashboard{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <h2 class="mb-4">Bem-vindo(a), {{ usuario.nome }}</h2>
    
    
    </div>

    <div class="row">
        <!-- Coluna Esquerda -->
        <div class="col-lg-6">
            {% if cards.resumo_placas.exibir %}
            {% include 'dashboard/cards/resumo_placas.html' %}
            {% endif %}

           {% if cards.historico_usinagem.exibir %}
            {% include 'dashboard/cards/historico_usinagem.html' %}
            {% endif %}

            {% if cards.historico_semanal_concretagens.exibir %}
            {% include 'dashboard/cards/historico_semanal_concretagens.html' %}
            {% endif %}

            {% if cards.concretagens_recentes.exibir %}
            <!-- Concretagens Recentes -->
            {% include 'dashboard/cards/concretagens_recentes.html' %}
            {% endif %}

 
        </div>
        <!-- Coluna Esquerda -->
        <div class="col-lg-6">
            {% if cards.resumo_notas.exibir %}
            {% include 'dashboard/cards/resumo_notas.html' %}
            {% endif %}
            <!-- Card Resumo Analítico -->
            {% if cards.analitico.exibir %}
            {% include 'dashboard/cards/analitico.html' %}
            {% endif %}

            <!-- Coluna Direita - Conteúdo específico por perfil -->
            {% if cards.epis_estoque_critico.exibir %}
            {% include 'dashboard/cards/epis_estoque_critico.html' %}
            {% endif %}

            {% if cards.epis_vencimento.exibir %}
            <!-- EPIs Próximos ao Vencimento -->
            {% include 'dashboard/cards/epis_vencimento.html' %}
            {% endif %}

       
            

           
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   
</script>
{% endblock %} 