{% extends 'common/base.html' %}

{% block title %}Comparativo de Estoques{% endblock %}

{% block content %}
{% include 'estoque_terceiro/partials/estilos_inline.html' %}
<div class="container-fluid">
{% include 'estoque_terceiro/partials/cabecalho.html' %}
{% include 'estoque_terceiro/partials/filtros.html' %}
{% include 'estoque_terceiro/partials/simulacao_manual.html' %}
{% include 'estoque_terceiro/partials/resumo_comparativo.html' %}
{% include 'estoque_terceiro/partials/tabela_comparativo.html' %}
</div>

<!-- Modal de Importação -->
{% include 'estoque_terceiro/modais/importar.html' %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

<script>

$(document).ready(function() {
{% include 'estoque_terceiro/scripts/01_estado_filtros_colunas.js' %}
{% include 'estoque_terceiro/scripts/02_datatable.js' %}
{% include 'estoque_terceiro/scripts/03_simulacao_carregamento.js' %}
{% include 'estoque_terceiro/scripts/04_export_indices_xlsx.js' %}
{% include 'estoque_terceiro/scripts/05_simulacao_calculo.js' %}
{% include 'estoque_terceiro/scripts/06_eventos_e_init.js' %}
});
</script>
{% endblock %}
